<app-navbar></app-navbar>

<div class="hero-wrap ftco-degree-bg" style="background-image: url('../../assets/images/havali_araba_7.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
</div>

<!-- LOGİN FORM  -->
<div class="container">
  <div class="main-form-area">
    <div class="form-area">
      <form>
        <div class="form-element-area mt-3">
          <input type="text" name="" id="" maxlength="11" class="form-text" placeholder="TC Kimlik No">
        </div>
        <div class="form-element-area mt-3">
          <input type="text" name="" id="" class="form-text" placeholder="Ad">
        </div>
        <div class="form-element-area mt-3">
          <input type="text" name="" id="" class="form-text" placeholder="E-posta">
        </div>
        <div class="form-element-area mt-3">
          <input type="text" name="" id="" maxlength="10" class="form-text" placeholder="Telefon">
        </div>
        <div class="form-element-area mt-3">
          <input type="password" name="" id="" class="form-text" placeholder="Şifre">
        </div>
        <div class="form-element-area mt-3 mb-3">
          <button type="button">Üye ol</button>
        </div>
        <div class="form-element-area mt-3 mb-3">
          <a routerLink="/login">Giriş yap</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="mb-5"></div>
