<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../assets/images/bg_3.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="page-info-area">
      <div class="page-info">
        <div class="url-section">
          <a routerLink="/">Home</a><span>/</span><a routerLink="/pricing">Pricing</a>
        </div>
        <div class="title-section">
          <h1>Pricing</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FİLTRELEME EKLENECEK</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>ARAÇLAR TABLO ŞEKLİNDE LİSTELENECEK</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 style="color: red;">SAYFALAMA (PAGINATION) EKLENECEK</h1>
    </div>
  </div>
</div> -->
